/* styles.css */

body {
	font-family: Arial;
	background-color: #e6ce55;
}
.backgroundImage {
	background-image: url(../img/wrench.png);
	width: 400px;
	height: 400px;
	margin: 64px auto;
}
.backgroundImage:hover {
	background-image: url(../img/clock.png);
	cursor: crosshair;
}
a:hover {
	text-decoration: underline;
}
h1 {
	color: black;
	font-size: 48px;
}